<address>
	Organizer: <a href="mailto:noscript@queerscouts.nyc" data-email="river"><img src="/conference.svg"> River DiLeo</a><br>
	Web admin: <a href="mailto:noscript@queerscouts.nyc" data-email="jess"><img src="/server.svg"> Jess Bees</a>
</address>
