<p>
	<span class="woodcut dropcap" style="--ornament: url(/branch.gif);">W</span>e are a group of Queers coming together to break down barriers to outdoor recreation through accessible, inclusive nature-based events throughout NYC. Families are welcome!
</p>

<p>
	This group aims to be explicitly feminist, intersectional, accessible, and anti-racist. The ways we will work toward this is:
</p>

<ol>
	<li>Holding events throughout NYC</li>
	<li>Posting accessibility information with each event</li>
	<li>Gathering donations to redistribute for metro cards, metro north tickets, food to share at picnics and other financial barriers to participation.</li>
	<li><strong>**Paying**</strong> POC who want to lead walks/share their skills with the group. <a href="/contact">(Please get in touch with me!)</a></li>
	<li>Holding events at a variety of days/times to accommodate various work schedules</li>
	<li>Monitoring the online discussions for racism/bigotry/transphobia etc</li>
</ol>
