<% content_for(:title) { "About" } %>

<%== erb :"partials/mission" %>

<h2 id="accessibility">Accessibility</h2>

<p>
	<%= QUEER_SCOUTS %> aims to make its events events as accessible as possible. For events which are outdoors, descriptions will include information about walking distances, expected durations, and the type of terrain. We encourage members who plan their own events to offer this same type of information.
</p>

<p>
	When an event includes significant travel or ticket expenses, we may be able to offset the cost for people unable to pay, depending on funds.
</p>

<h2 id="fundraising">Fundraising</h2>

<p>
	<%= QUEER_SCOUTS %> does not charge money for its events, but accepts donations. Money goes toward:
</p>

<ol>
	<li>Reserving a monthly meeting room</li>
	<li>Providing snacks at meetings</li>
	<li>A transportation and ticket fund (see <em>Accessability</em> above)</li>
</ol>

<p>
	Tech queers, we see you, and we know you can spare the $$$. :)
</p>

<h2>Code of Conduct</h2>

<a href="/coc"></a>
