<% content_for(:title) { "Code of Conduct" } %>

<p>Until a code of conduct is drafted specifically for <%= QUEER_SCOUTS %>, we temporarily adopt the CoC for the LGBT+-centered tech conference <a href="https://queer-code.org/coc" rel="external noopener">Queer Code.</a></p>
