<% content_for(:title) { "Code of Conduct" } %>

<aside>
	<p>This is based off the <a href="https://queer-code.org/coc" rel="external noopener">Queer Code CoC,</a> itself based off the <a href="https://berlincodeofconduct.org/">Berlin Code of Conduct,</a> and has been modified such that it less centers the particular needs of tech conferences.</p>

	<p>It is distributed under a Creative Commons Attribution-ShareAlike license.</p>
</aside>

<h2>Summary</h2>

<p>The gist of most codes of conduct are to <u>treat community members with respect</u>, <u>accept criticism graciously</u>, and generally <u>don't be mean</u>; and this CoC is no exception.</p>

<p>What is often glossed over is that in the event that something happens in violation of this CoC, please <u>report it to an organizer</u> so they can address it.</p>

<p>Additionally, be aware that Queer Scouts—as its name implies—centers the needs of LGBT+ people, as well as racial, ethnic, and religious groups whose marginalizations intersect with those of LGBT+ individuals.</p>

<p>The following code of conduct will go into greater detail.</p>

<h2>Scope</h2>

<p>All Queer Scouts are expected to follow this CoC in all community venues, whether in-person or online, including:</p>
<ul>
	<li>Organizational den meetings</li>
	<li>Outdoor events</li>
	<li>One-on-one conversation between community members</li>
	<li>The Queer Scouts Facebook group</li>
	<li>The GitHub repository for this website's code</li>
</ul>

<h2>Expected Behavior</h2>

<ul>
	<li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this community.</li>
	<li>Exercise consideration and respect in your speech and actions.</li>
	<li>Attempt collaboration before conflict.</li>
	<li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
	<li>Please avoid making assumptions. If you aren’t aware of what someone’s gender is, and you can’t figure out what pronoun to use, just ask.</li>
	<li>If you are called out for unacceptable behavior, accept the criticism graciously, apologize, and correct your actions.</li>
	<li>If you need to disengage from a conversation for any reason, say so. Likewise if someone indicates that they can't engage in a conversation for any reason, respect their needs and stop.</li>
	<li>Please ask before touching anyone at our events. It’s easy, and the worst thing that happens is someone says no! That includes hugging – you might not know that it makes some people uncomfortable, but it does, so please ask first.</li>
	<li>Be mindful of your surroundings and the other participants. Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
</ul>

<h2>Unacceptable Behavior</h2>

<p>Unacceptable behaviors include: intimidating, harassing, abusive, discriminatory, intentional misgendering, derogatory or demeaning speech or actions by any participant in our community online, at all related events and in one-on-one communications carried out in the context of community business. Community event venues may be shared with members of the public; please be respectful to all patrons of these locations.</p>

<p>Harassment includes:</p>
<ul>
	<li>harmful or prejudicial verbal or written comments related to gender, trans status, sexual orientation, physical appearance, body size, technical choices, ability, ethnicity, socioeconomic status, religion (or lack thereof) and other personal conditions and choices</li>
	<li>trolling, i.e. sustained disruption of conversations, talks or other events</li>
	<li>refusing to disengage from someone who has made it clear they do not wish to interact at the moment</li>
	<li>nonconsensual photography or recording</li>
	<li>deliberate intimidation, stalking or following</li>
	<li>nonconsensual physical contact</li>
	<li>unwelcome sexual attention</li>
	<!-- microaggressions is a little preaching to the choir, no? I'm unsure -->
	<!-- <li>microaggressions, i.e. small, subtle, often subconscious actions that marginalize people from oppressed groups</li> -->
	<li>minimizing other people’s experiences</li>
</ul>

<p>We have <strong>no discussion about how your behaviour was meant. What we care about is how it makes our participants feel.</strong> Please just respect that if one of the participants is hurt by your behaviour, it is on you to change it or leave.</p>

<h2>Consequences to Unacceptable Behavior</h2>

<p>Unacceptable behavior from any community member, including those with decision-making authority, will not be tolerated. Anyone asked to stop unacceptable behavior is expected to stop immediately.<p>

<p>If a community member engages in unacceptable behavior, the community organizers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning.</p>

<h2>If You Witness or Are Subject to Unacceptable Behavior</h2>

<p>If you are subject to or witness unacceptable behavior, feel someone is being treated disrespectfully, or have any other concerns, point out the problem to the event organizer or any member you feel comfortable talking to as soon as possible. You can also reach out to River <a href="#" data-email="river">via email</a>, or in the <a href="https://www.facebook.com/groups/283924708806941" rel="external noreferrer noopener">Queer Scouts Facebook group.</a></p>
