<picture class="hero">
	<source srcset="/20190715_195859.webp" type="image/webp">
	<img src="/20190715_195859.jpg">
</picture>

<%== erb :"partials/mission" %>

<p>
	To keep up to date with <%= QUEER_SCOUTS %>, join the
	<a href="https://www.facebook.com/groups/283924708806941" rel="external noreferrer noopener">NYC Queer Scouts Facebook Group</a>
	or signup for the
	<a href="https://forms.gle/tRLJCsYLRCZcPG4x8" rel="external noopener">mailing list.</a>
</p>

<p><%= QUEER_SCOUTS %> hosts organizational den meetings every 3rd Monday of the month at the <a href="https://lgbtbrooklyn.org/" rel="external noopener">Brooklyn Community Pride Center</a> (1360 Fulton St, Brooklyn, NY 11216)</p>

<p>Participants are expected to abide by our <a href="/coc">code of conduct.</a></p>

<%== erb :"partials/calendar" %>
