<!DOCTYPE html>
<html>
<head>
  <title>Queer Scouts NYC</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Queer Scouts NYC</h1>

  <%= erb :calendar_2 %>
</body>
</html>
