<!DOCTYPE html>
<html>
<head>
  <title>Queer Scouts NYC</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1 class="rainbow-shadow" style="--text: 'Queer Scouts NYC'">
    Queer Scouts NYC
  </h1>

  <picture class="hero">
    <source srcset="/20190715_195859.webp" type="image/webp">
    <img src="/20190715_195859.jpg">
  </picture>

  <p>Every 3rd Monday at the <a href="lgbtbrooklyn.org" rel="external noopener">Brooklyn Community Pride Center</a> (1360 Fulton St, Brooklyn, NY 11216)</p>

  <p>
    To keep up to date with Queer Scouts NYC, join the
    <a href="https://www.facebook.com/groups/283924708806941" rel="external noreferrer noopener">Queer Scouts Facebook Group</a>
    or signup for the
    <a href="https://forms.gle/tRLJCsYLRCZcPG4x8" rel="external noopener">email listserv.</a>
  </p>

  <%= erb :"partials/calendar" %>

  <footer>
    <%= erb :"partials/contact" %>
  </footer>
</body>
</html>
